.App {
  text-align: center;
}

.header {
  text-align: center;
  font-size: larger;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 100px 300px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-link {
  color: black;
}

.text-link:visited {
  color: black;
}

.mainPage {
  text-align: center;
}

.features-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  gap: 100px;
  font-size: medium;
  margin-top: 25px;
  margin-bottom: 25px;
}

.list {
  text-align: left;
  max-width: 1400px;
  margin: auto;
}

.about {
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.policy {
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.object {
  text-align: center;
  display: grid;
  grid-template-columns: 800px 600px;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.objImg {
  border-radius: 1.5%;
  object-fit: cover;
}

.pagination {
  text-align: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  justify-content: center;
}

.pagination {
  list-style-type: none;
}

.pagination:hover {
  cursor: pointer;
}